@import '/styles/variables.scss';
.badge {
    display: inline-block;
    width: 24px;
    height: 36px;
    margin-right: 8px;
    margin-top: 2px;
    background: $color-main-background;
    border-radius: 16px;

    &--full {
        background: $color-light-red;
    }
}
