@import '../../../styles/variables.scss';
.logo {
    width: 136px;
    height: 28px;

    display: flex;
    align-items: center;
    svg {
        padding-right: 12px;
        top: 1px;
    }
    span {
        font-size: 24px;
        font-weight: 700;
    }
}
.cli {
    color: $color-blue_dop;
}
.math {
    color: $color-system_green;
}
