@import '/styles/variables.scss';
.history {
    @media (width <= 800px) {
        width: 360px;
        height: 800px;
        flex-direction: column-reverse;
        border-radius: 0;
        justify-content: start;
    }
    width: 1082px;
    height: 590px;
    background: $color-white;
    border-radius: 16px;
    position: relative;
    display: flex;
    flex-direction: row;
    &__content {
        @media (width <= 800px) {
            box-sizing: border-box;
            width: 360px;
            margin: 0;
            height: auto;
            margin-top: 60px;
            margin-bottom: 56px;
        }
        overflow-y: scroll;
        overflow-x: hidden;
        position: relative;
        margin-left: 16px;

        width: 864px;
        height: 590px;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
    }
    &__divider {
        @media (width <= 800px) {
            height: 800px;
        }
        position: absolute;
        width: 2px;
        height: 590px;
        left: 36px;
        top: 0px;
        background: $color-sub_gray;
        border-radius: 1px;
        z-index: 1;
    }
    &__sidebar {
        @media (width <= 800px) {
            visibility: hidden;
            flex-direction: row;
            width: 0px;
            height: 0px;
            margin: 0;
        }
        width: 140px;
        height: 92px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 30px;
        margin-top: 40px;
    }
}
