@import '/styles/variables.scss';
.history_data {
    @media (width <= 800px) {
        width: 328px;
        height: 235px;
        margin-top: 40px;
        flex-wrap: wrap;
        margin-left: 16px;
    }
    width: 857px;
    height: 160px;
    // margin-top: 16px;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &:first-of-type {
        margin-top: 40px;
    }
    &:last-of-type {
        margin-bottom: 40px;
    }

    &__badge {
        box-sizing: border-box;
        margin-left: 1px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px;
        width: 40px;
        height: 40px;
        background: $color-sub_gray;
        z-index: 2;
        border: 2px solid $color-sub_gray;
        border-radius: 20px;
        &--red {
            background: $color-light-red;
            border: 2px solid $color-red-border;
        }
        &--green {
            background: $color-light-green;
            border: 2px solid $color-green-border;
        }
        svg {
            width: 16px;
            height: 16px;
            opacity: 0.54;
        }
    }
    &__info {
        @media (width <= 800px) {
            width: 276px;
            height: 87px;
            padding: 20px;
            gap: 12px;
        }
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 21px 29px;
        width: 305px;
        height: 132px;

        border: 3px solid $color-green-border;
        border-radius: 16px;
        &--bad {
            border: 3px solid $color-red-border;
        }
        span {
            @media (width <= 800px) {
                font-weight: 300;
                font-size: 14px;
            }
            margin: 0;
            // margin-top: 26px;
            // margin-bottom: 16px;
        }
        p {
            @media (width <= 800px) {
                font-weight: 500;
                font-size: 16px;
            }
            margin: 0;
            // margin-bottom: 26px;
            font-weight: 600;
            font-size: 20px;
        }
    }
    &__stats {
        @media (width <= 800px) {
            width: 276px;
            height: 100px;
            margin: 0;
            margin-left: 52px;
            margin-top: 12px;
            padding: 12px 0;
        }
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 21px 0px;

        width: 440px;
        height: 132px;
        margin-right: 24px;
        border: 3px solid $color-green-border;
        border-radius: 16px;
        &-stat {
            @media (width <= 800px) {
                width: 270px;
                height: 24px;
                box-sizing: border-box;
                padding: 4px 20px;
            }
            width: 370px;
            height: 20px;
            padding: 4px 32px 4px 32px;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            &--bad {
                background-color: $color-red-border;
            }
            span {
                @media (width <= 800px) {
                    width: 150px;
                    font-size: 14px;
                    font-weight: 300;
                    &:last-of-type {
                        width: 70px;
                    }
                }
                width: 180px;
                height: 20px;
                text-align: left;
            }
            svg {
                width: 16px;
                height: 16px;
                color: $color-main-text;
            }
        }
        &--bad {
            border: 3px solid $color-red-border;
        }
    }
}
