$color-main-background: #eaedf4;
$color-white: #ffffff;
$color-main-text: #111313;
$color-system_green: #7ed20e;
$color-system_red: #f20530;
$color-blue_dop: #55bdfe;
$color-sub_gray: #dadada;
$color-light-red: #fbe3e3;
$color-light-green: #e9f9e1;
$color-red-border: #ffd4d4;
$color-green-border: #daf4cd;
$color-co2: #f8f3c6;
$color-humidity: #dcd4f9;
$color-temp: #d4ecf9;
